.navbar {
  height: 70px;
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

/* Nombre */
.white-name {
  color: white;
}

.purple-name {
  color: var(--accent);
}

.navbar .footer-name {
  font-size: 2.3rem !important;
  font-weight: 800;
}

/* Links */
.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  color: white;           /* AHORA SON BLANCOS */
  transition: color .2s ease, transform .15s ease;
   position: relative;
}

.navbar li:hover {
  color: var(--accent);
  transform: translateY(-2px);
}

/* Icono al lado del nombre */
.name-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.name-icon {
  width: 28px;
  height: 25px;
  transform: translateY(5px);
}

.navbar li::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: width .2s ease;
}

.navbar li:hover::after {
  width: 100%;
}